<section class="grid-x {{article.attributes.bg}}-content">
    <div class="container temp-spacer grid-x grid-margin-x article">
        <aside *ngIf="article.attributes.fileLink && article.attributes.imageIsFile"
                [@loadTriggerLeft]="'inLeft'"
               class="cell large-4 article__image--left">

            <div class="article__image--content" [ngStyle]="{'background-image': 'url(' + image  + ')'}"></div>
        </aside>
        <aside *ngIf="article.attributes.image && !article.attributes.imageIsFile"
                [@loadTriggerLeft]="'inLeft'"
               class="cell large-4 article__image--left">

            <div class="article__image--content" [ngStyle]="{'background-image': 'url(' + (image | async)  + ')'}"></div>
        </aside>
        <article [@loadTriggerLeft]="'inLeft'" class="article__main cell"
                 [ngClass]="article.attributes.image || article.attributes.fileLink ? 'large-8' : 'large-12'">
            <div class="article__content">
                <h3 class="center-text">{{article.attributes.title}}</h3>
                <p class="center-text">{{article.attributes.content}}</p>
            </div>

        </article>
    </div>
    <button class="button btn-edit" *ngIf="editMode" (click)="editArticle()">edit</button>
</section>

