<section class="home-content grid-x">
    <div class="container temp-spacer">
        <div class="top-section">
            <H1 class="page-header">Restorations</H1>

            <h3>Contemporary Restorations</h3>
            <p>
                Restoring pianos is my true passion.
                <br>
                The workshop is set up on two floors to
                accommodate the three main aspects of contemporary piano restoration: Action and
                keyboard rebuilds; Strungback refurbishment (strings, frame and soundboard) and
                Cabinet restoration from joinery and veneering to hand french-polishing in
                collaboration with (link the finishing room?).<br>

                I work to a very high standard and am
                pleased to offer a ten year guarantee with all rebuilds.
            </p>
        </div>
    </div>

</section>
<section class="grid-x dark-content">
    <div class="container temp-spacer">
        <div class="top-section">
            <h3>Period Restorations</h3>
            Over the last few decades the rules and methods of period-piece restorations have
            changed no end for the better.
            <br>
            More and more information has been documented over
            the years making research a large and crucial part of any project.
            <br>
            Through a specialist
            network of revered instrument makers and technicians I am able to participate in the
            ongoing debates surrounding best practice, source the best available materials and
            access technical drawings and information essential for an authentic end result.
            <br>
            If you have a stringed keyboard instrument older than 175 years that requires major
            work please contact me to arrange a consultation.
        </div>
    </div>
</section>
<section class="grid-x bg2-content">
    <div class="container temp-spacer">
        <div class="top-section">this is another section
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis fugiat in nobis officiis placeat
                porro tenetur. Aliquid aspernatur dolorem eligendi et, illum ipsum nulla qui quidem quis sed,
                voluptas!</p>
        </div>
    </div>
</section>
