
<section class="home-content grid-x">
    <div class="container temp-spacer">
        <div class="top-section"><H1>About us</H1>
            Welcome to the piano workshop
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias exercitationem inventore laboriosam
                quidem quis reiciendis. Autem eos, et eum nisi temporibus vel! Animi atque deleniti eos perspiciatis,
                rem suscipit tenetur.
            </p></div>
    </div>

</section>
<section class="grid-x dark-content">
    <div class="container temp-spacer">
        <div class="top-section">
            a middle section
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem, dolore incidunt iste maiores nihil nisi
            nulla quo rerum voluptates? Assumenda blanditiis dignissimos dolorem iste iure optio quam quibusdam sequi?
        </div>
    </div>
</section>
<section class="grid-x bg2-content">
    <div class="container temp-spacer">
        <div class="top-section">this is another section
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis fugiat in nobis officiis placeat
                porro tenetur. Aliquid aspernatur dolorem eligendi et, illum ipsum nulla qui quidem quis sed,
                voluptas!</p>
        </div>
    </div>
</section>
