<form (ngSubmit)="onAddArticle(articleForm)" #articleForm="ngForm">
    <div class="grid-x">
        <div class="large-6 small-12">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" required [(ngModel)]="formData.title" >
        </div>
        <div class="large-6 small-12">
            <label for="bg">Select background</label>
            <select name="bg" id="bg" [(ngModel)]="formData.bg">
                <option value="home">Black Piano</option>
                <option value="bg2">Light Piano</option>
                <option value="dark">Dark</option>
                <option value="piano-goldwork">Piano Goldwork</option>
                <option value="string-casing">String Casings</option>
                <option value="restringing">Restringing</option>
                <option value="keybed">Keybeds</option>
                <option value="action">Action on wall</option>
                <option value="steinway-polished">Steinway Polished</option>
                <option value="kate-working">Kate Working</option>
                <option value="aiden-working">Aiden Working</option>
                <option value="adjustments">Adjustments</option>
            </select>
        </div>
    </div>

    <label for="content">Area Content</label>
    <textarea [(ngModel)]="formData.content" name="content" id="content" cols="30" rows="10"></textarea>
    <input type="file" id="fileElem"

           accept="image/*"
           (change)="addImage($event)">
    <img [src]="formData.image" alt="" *ngIf="formData.image">
    <button class="button" type="submit" [disabled]="!articleForm.valid">Save</button>
</form>
