<button class="button btn--edit" (click)="onAddItem()" *ngIf="">Add Item</button>
<section class="home-content grid-x">
    <div class="container temp-spacer">
        <div class="top-section"><H1>French Polishing</H1></div>
    </div>
</section>

<ng-container *ngFor="let article of articles; let i = index">
    <app-animated-article-left [article]="article" *ngIf="i%2 == 0"> </app-animated-article-left>
    <app-animated-article-right [article]="article" *ngIf="i%2 == 1"> </app-animated-article-right>
</ng-container>
