
<section class="home-content">
    <div class=" container temp-spacer">
        <div class="top-section text-align-virt">
            <H1>Rebuilds</H1>
            <p>
                When it comes to tuning I will give your piano the time and attention it needs to
                achieve the best possible result, be it a Victorian wooden framed instrument or a full
                size grand in a concert hall.
                <br>
                I therefore limit my appointments mostly to just three a
                day spending between one and two hours on average.
                <br>
                My restoration and piano
                manufacturing qualifications mean I am familiar with all aspects of repair and
                regulation and I carry the specialist tools and materials for most jobs with me on the
                road.
                <br>
                I also offer friendly advice on how best to care for your instrument, its value for
                insurance purposes and help with buying, selling and even transporting your piano.
            </p>
        </div>
    </div>

</section>
<section class="grid-x dark-content">
    <div class="container spacer">
        <div class="grid-x image-section">
            <div class="cell large-8 small-12 text-align-virt">
                <p>a middle section
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem, dolore incidunt iste maiores
                    nihil
                    nisi
                    nulla quo rerum voluptates? Assumenda blanditiis dignissimos dolorem iste iure optio quam quibusdam
                    sequi?</p>
            </div>
            <div class="cell small-12 large-4">
                <img src="/assets/images/pwrestorations-1.jpg" alt="">
            </div>
        </div>
    </div>

</section>
<section class="grid-x bg2-content">
    <div class="container spacer">
        <div class="grid-x image-section">
            <div class="cell small-12 large-4">
                <img src="/assets/images/pwrestorations-2.jpg" alt="">
            </div>
            <div class="cell large-8 small-12 text-align-virt">
                <p>a middle section
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem, dolore incidunt iste maiores
                    ni hil
                    nisi
                    nulla quo rerum voluptates? Assumenda blanditiis dignissimos dolorem iste iure optio quam quibusdam
                    sequi?</p>
            </div>
        </div>
    </div>
</section>
<section class="grid-x dark-content">
    <div class="container spacer">
        <div class="top-section text-align-virt">this is another section
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis fugiat in nobis officiis placeat
                porro tenetur. Aliquid aspernatur dolorem eligendi et, illum ipsum nulla qui quidem quis sed,
                voluptas!</p>
        </div>
    </div>
