<button class="button btn--edit"
        *ngIf="editMode"
        (click)="onAddItem()">
    Add Item
</button>

<section class="action-content header-content">
    <article class="page-intro">
        <div class="container">
            <div class="text-align-virt">
                <div class="top-section">
                    <H1>Rebuilds</H1>
                </div>
                <app-page-title [type]="type"></app-page-title>
            </div>
        </div>
    </article>

</section>
<ng-container *ngFor="let article of articles; let i = index">
    <app-animated-article-left [article]="article" *ngIf="i%2 == 0"> </app-animated-article-left>
    <app-animated-article-right [article]="article" *ngIf="i%2 == 1"> </app-animated-article-right>
</ng-container>
