
.header-image {
  display: inline-block;
  padding:  4vw 10vw;
  max-width: 300px;
}
@include breakpoint(650px){
  .header-image {
    display: inline-block;
    padding: 0;
    max-width: 300px;
  }
}
header {
  background: rgba(0,0,0,0.8);
  position: fixed;
  z-index: 1000;
  width: 100%;
}

nav {
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s ease;
  background: rgba(0,0,0,0.8);
  ul {
    display: block;
    padding: 0;
    margin: 0;
    li {
      color: $white;
      list-style: none;
      padding: $baseline/2;
      border-bottom: 1px $white solid;
      font-size: 25px;
    }
  }
  .mobile-logo {
    img {
      width: 200px;
    }

  }
}
.menu-open {
  right: -100%;
}

@include breakpoint(650px) {
  .menu-open {
    right: 0;
  }
  header {
    height:100px;
    position: fixed;
    z-index: 200;
    width: 100%;
    top: 0;
    background: rgba(0,0,0,0.6);

    .header-image{
      margin-top: 5px;
      img{
        width:180px;
      }
    }
    .mobile-logo {
      display: none;
    }

    nav {
      position: absolute;
      background: transparent;
      display: flex;
      ul {
        transform: translateY(5px);
        display: flex;
        flex-wrap: wrap;
        padding: $baseline/2;
        li {
          span {
            padding: 0;
          }
          font-size: 18px;
          border-bottom: 0;
          color: $white;
          list-style: none;
          border-left: solid rgba($white, 0.5) 1px ;
          padding: $baseline/4 $baseline/2;
          &:hover {
            cursor: pointer;
            color: $primary;
            border-color: $primary;
          }
          &:first-child {
            border: none;
          }
        }
      }

    }
  }
}
.edit-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 210;
}

.menu-opener {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  z-index: 1000;
  @include breakpoint(650px) {
    display: none;
  }
}
.burger {
  transition: transform ease 0.3s;
  position: relative;
  transform: rotate(0deg);
  opacity: 1;
  top: 25px;
  width: 30px;
  height: 3px;
  background: white;
  &:after {
    transition: opacity ease 0.3s;
    content: '';
    position: relative;
    top: -48px;
    width: 30px;
    height: 3px;
    background: white;
    display: inline-block;
  }
  &:before {
    transform: rotate(0deg) translateX(0);
    transition: transform ease 0.3s;
    content: '';
    position: relative;
    top: -2px;
    width: 30px;
    height: 3px;
    background: white;
    display: inline-block;
  }
}

.burger-open {
  transform: rotate(45deg);
  &:before {
    transform: rotate(90deg) translateX(-10px);
  }
  &:after {
    opacity: 0;
  }

}