
    <header>


            <nav class="container">
                <div class="header-image">
                    <img src="/assets/img/logo.png" alt="main logo">
                </div>
                <ul>
                    <li class="mobile-logo"></li>
                    <li class="piano-key--animated"><a routerLink="/home">Home</a></li>
                    <li class="piano-key--animated"><a routerLink="/rebuilds">Rebuilds</a></li>
                    <li class="piano-key--animated"><a routerLink="/french-polishing">French Polishing</a></li>
                    <li class="piano-key--animated"><a routerLink="/restorations">Restorations</a></li>
                    <li class="piano-key--animated"><a routerLink="/about" >About Us</a></li>
                </ul>
            </nav>

    </header>


